.bg-crossfade{margin:0;background-size:cover!important;background-repeat:no-repeat!important;background-position:50%!important;-webkit-transition:background .2s linear!important;transition:background .2s linear!important;-webkit-transition:3s!important;transition:3s!important}