canvas {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.colorbox {
    min-height: 32px;
    min-width: 50px;
    font-size:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -8px 0px 6px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 0px 6px -6px rgba(0,0,0,0.75);
    box-shadow: -8px 0px 6px -6px rgba(0,0,0,0.75);
}
#playpause {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: #888;
    width: 54px;
    height: 46px;
}
#controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -6px;
}
#timer {
    width:100%;
    background: #c5c5c5;
    height: 46px;
    margin-left: 0px;
}

#timerbar {
    background-color: #002F42;
    width: 0px;
    height: 100%;
    color: white;
}

.hoverable-console {
    font-family: "Lucida Console";
   
    color:white;
   opacity: 0.5;
  -webkit-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -moz-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -o-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  transition: all 500ms cubic-bezier(.17,.67,.83,.67);
}
.hoverable-console:hover {
   opacity: 0.9;
  -webkit-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -moz-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -o-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  transition: all 500ms cubic-bezier(.17,.67,.83,.67);
}

ul {
     list-style-type: none;
     padding-left: 5px;
}


body::-webkit-scrollbar-track, .hoverable-console ul::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #263238 !important;
}

body::-webkit-scrollbar, .hoverable-console ul::-webkit-scrollbar
{
  width: 8px !important;
  height: 8px !important;
  background-color: #bdbdbd !important;
}

body::-webkit-scrollbar-thumb, .hoverable-console ul::-webkit-scrollbar-thumb
{
  border-radius: 2px !important;
  height: 8px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #F0F0F0 !important;
}

@font-face { 
    font-family: 'InterstateCond'; 
    src: url('https://font.hprez.com/interstate-regularcondensed-webfont.eot');
    src: url('https://font.hprez.com/interstate-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://font.hprez.com/interstate-regularcondensed-webfont.woff') format('woff'),
         url('https://font.hprez.com/interstate-regularcondensed-webfont.ttf') format('truetype'),
         url('https://font.hprez.com/interstate-regularcondensed-webfont.svg#interstate_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'Metric'; 
    src: url('https://font.hprez.com/Metric-Regular.eot');
    src: url('https://font.hprez.com/Metric-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://font.hprez.com/Metric-Regular.woff') format('woff'),
         url('https://font.hprez.com/Metric-Regular.ttf') format('truetype'),
         url('https://font.hprez.com/Metric-Regular.svg#Metric-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'MuseoSans'; 
    src: url('https://font.hprez.com/MuseoSans_700.eot');
    src: url('https://font.hprez.com/MuseoSans_700.eot?#iefix') format('embedded-opentype'),
         url('https://font.hprez.com/MuseoSans_700.woff') format('woff'),
         url('https://font.hprez.com/MuseoSans_700.ttf') format('truetype'),
         url('https://font.hprez.com/MuseoSans_700.svg#MuseoSans-700') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'BOQ BrushV3'; 
    src: url('https://font.hprez.com/boq-brushv3-webfont.eot');
    src: url('https://font.hprez.com/boq-brushv3-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://font.hprez.com/boq-brushv3-webfont.woff') format('woff'),
         url('https://font.hprez.com/boq-brushv3-webfont.ttf') format('truetype'),
         url('https://font.hprez.com/boq-brushv3-webfont.svg#boqbrushv3') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Webfont: NABImpact */
@font-face {
    font-family: 'NABImpact';
    src: url('https://font.hprez.com/NABImpact.eot'); /* IE9 Compat Modes */
    src: url('https://font.hprez.com/NABImpact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://font.hprez.com/NABImpact.woff') format('woff'), /* Modern Browsers */
         url('https://font.hprez.com/NABImpact.ttf') format('truetype'); /* Safari, Android, iOS */
         url('https://font.hprez.com/NABImpact.svg#NABImpact') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Corpid Light';
    src: url('https://font.hprez.com/corpidc1-light.eot'); /* IE9 Compat Modes */
    src: url('https://font.hprez.com/corpidc1-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://font.hprez.com/corpidc1-light.woff') format('woff'), /* Modern Browsers */
         url('https://font.hprez.com/corpidc1-light.ttf') format('truetype'); /* Safari, Android, iOS */
         url('https://font.hprez.com/corpidc1-light.svg#CorpidC1-Light') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Corpid Bold';
    src: url('https://font.hprez.com/corpidc1-heavy.eot'); /* IE9 Compat Modes */
    src: url('https://font.hprez.com/corpidc1-heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://font.hprez.com/corpidc1-heavy.woff') format('woff'), /* Modern Browsers */
         url('https://font.hprez.com/corpidc1-heavy.ttf') format('truetype'); /* Safari, Android, iOS */
         url('https://font.hprez.com/corpidc1-heavy.svg#CorpidC1-Heavy') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

